<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="container"></div><div class="container-fluid"></div><div class="container">
  <br>
	<div class="row-fluid">
      <h1 class="pull-center"><strong>PopMusic</strong></h1>
      <p class="lead pull-center">Play your songs where you want them!</p>
	</div>	
  <br><br><br><br>
  
  <div class="row-fluid">
      <div class="span3 block block-sm">
			<h1>Playlists:</h1>
				<ul>
					<% @playlists.each do |p| %>
						<li>
						<%= link_to p.permalink_url do %>
							<%= p.title %>, with <%= p.track_count %> tracks
						<% end %>
						</li>
					<% end %>
				</ul>
			</div>
			<br />
			<br />
		<div class="span3 block block-sm">
			<h1>Favorites:</h1>
			<ul>
				<% @favorites.each do |f| %>
					<li>
					<%= link_to f.permalink_url do %>
						<%= f.title %> ... <%= f.id %>
					<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
    </div>
	</div>
</div>
