<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>



<div class="container"></div><div class="container-fluid"></div><div class="container">
  <br>
  <div class="row-fluid">
    <div class="span10 offsetHalf">
      	
		<i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
    </div>
  </div>
   <br><br><br>
	<div class="row-fluid">
      <h1 class="pull-center"><strong>PopMusic</strong></h1>
      <p class="lead pull-center">Play your songs where you want them!</p>
	</div>	
  <br><br><br><br>
  <div class="row-fluid"
    
      	<div class="span5 offsetHalf block">
          <div class="pull-center">
            <h1>Playlists:</h1>
            <ul>
						<% @playlists.each do |p| %>
						<li>
							<%= link_to p.permalink_url do %>
							<%= p.title %>, with <%= p.track_count %> tracks
							<% end %>
						</li>
						<% end %>
						</ul><br>
            <h1><i class="icon-beaker icon-4x"></i></h1>
            <button class="btn btn-primary btn-flat">Add new playlist<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
      	<div class="span5 block">
          <div class="pull-center">
      	 	<h1>Favorites:</h1>
          	<ul>
						<% @favorites.each do |f| %>
						<li>
							<%= link_to f.permalink_url do %>
							<%= f.title %> ... <%= f.id %>
							<% end %>
						</li>
						<% end %>
						</ul><br>
          	<h1><i class="icon-fire icon-4x"></i></h1>
          	<button class="btn btn-primary btn-flat">Search for new songs<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
      
  </div>  
 	<br><br><br>
	<div class="row-fluid">
		<h3 class="pull-center">Featuring</h3>
	</div>	
  <br><br>
  <div class="row-fluid">
  	<div class="span12">
      <div class="span3 block block-sm offsetHalf1">
      <h2>Build</h2>
       	Bootply is a playground for Twitter Bootstrap.
      </div>
      <div class="span3 block block-sm">
      <h2>Design</h2>
        Use Bootply to design, prototype, extend the Bootstrap framework.
      </div>
      <div class="span3 block block-sm">
      <h2>Test</h2>
        Use Bootply to test and debud Bootstrap designs.
      </div>
    </div>
	</div>
</div><!---/cont---->

  
  
